<h1>Editing distropackage</h1>

<% form_for(@distropackage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pid %><br />
    <%= f.text_field :pid %>
  </p>
  <p>
    <%= f.label :package %><br />
    <%= f.text_field :package %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @distropackage %> |
<%= link_to 'Back', distropackages_path %>
