<h1>Listing distropackages</h1>

<table>
  <tr>
    <th>Pid</th>
    <th>Package</th>
    <th>Version</th>
  </tr>

<% for distropackage in @distropackages %>
  <tr>
    <td><%=h distropackage.pid %></td>
    <td><%=h distropackage.package %></td>
    <td><%=h distropackage.version %></td>
    <td><%= link_to 'Show', distropackage %></td>
    <td><%= link_to 'Edit', edit_distropackage_path(distropackage) %></td>
    <td><%= link_to 'Destroy', distropackage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New distropackage', new_distropackage_path %>
