<h1>Editing distro</h1>

<% form_for(@distro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :did %><br />
    <%= f.text_field :did %>
  </p>
  <p>
    <%= f.label :dname %><br />
    <%= f.text_field :dname %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @distro %> |
<%= link_to 'Back', distros_path %>
