<h1>Listing distros</h1>

<table>
  <tr>
    <th>Did</th>
    <th>Dname</th>
  </tr>

<% for distro in @distros %>
  <tr>
    <td><%=h distro.did %></td>
    <td><%=h distro.dname %></td>
    <td><%= link_to 'Show', distro %></td>
    <td><%= link_to 'Edit', edit_distro_path(distro) %></td>
    <td><%= link_to 'Destroy', distro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New distro', new_distro_path %>
