<h1>Listing computers</h1>

<table>
  <tr>
    <th>Cid</th>
    <th>Cname</th>
    <th>Oid</th>
    <th>Did</th>
  </tr>

<% for computer in @computers %>
  <tr>
    <td><%=h computer.cid %></td>
    <td><%=h computer.cname %></td>
    <td><%=h computer.oid %></td>
    <td><%=h computer.did %></td>
    <td><%= link_to 'Show', computer %></td>
    <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
    <td><%= link_to 'Destroy', computer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New computer', new_computer_path %>
