<h1>New computer</h1>

<% form_for(@computer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cid %><br />
    <%= f.text_field :cid %>
  </p>
  <p>
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </p>
  <p>
    <%= f.label :oid %><br />
    <%= f.text_field :oid %>
  </p>
  <p>
    <%= f.label :did %><br />
    <%= f.text_field :did %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', computers_path %>
