<p>
  <b>Cid:</b>
  <%=h @computer.cid %>
</p>

<p>
  <b>Cname:</b>
  <%=h @computer.cname %>
</p>

<p>
  <b>Oid:</b>
  <%=h @computer.oid %>
</p>

<p>
  <b>Did:</b>
  <%=h @computer.did %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
