<h1>New owner</h1>

<% form_for(@owner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :oid %><br />
    <%= f.text_field :oid %>
  </p>
  <p>
    <%= f.label :oname %><br />
    <%= f.text_field :oname %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', owners_path %>
